@import "tailwindcss";

@font-face {
    font-family: "apple";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/regular.OTF");
}
@font-face {
    font-family: "apple";
    font-style: normal;
    font-weight: bold;
    src: url("assets/fonts/bold.OTF");
}
@font-face {
    font-family: "apple";
    font-style: normal;
    font-weight: 600,800;
    src: url("assets/fonts/meduim.OTF");
}

@theme {
    --font-apple: "apple", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Masquer la barre de défilement pour IE, Edge et Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE et Edge */
    scrollbar-width: none;  /* Firefox */
  }
body{
    background-color: #6B94B2;
}